!!!5
%html
  %head
    %title It's a foo!
    - %w( http://fonts.googleapis.com/css?family=Orbitron:regular,bold stylesheets/reset.css stylesheets/main.css ).each do |path|
      %link{ :href => path, :rel => 'stylesheet', :type => 'text/css' }
    %script( src="javascripts/lib/head.js" )
    :javascript
      head.js('javascripts/game.js?'+ new Date().getTime(), function() {
        new Game();
      });
    
  %body
    #wrapper
      %header
        %h1
          Coffeeometry
          %span Battles
      %canvas#canvas( width="600" height="600" )
      
      %footer
        %ul
          %li
            %a( onclick="Game.game.start(); return false" href="#" ) Go
            \|
            %a( onclick="Game.game.stop(); return false;" href="#" ) Pause
      
        %ul
          %li
            %a( href="." ) Index
          %li
            %a( href="?" ) Specs
          %li
            %a( href="docs" ) Docs
            